@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts/stylesheet.css");

@layer base {
  p {
    @apply mx-auto
        w-2/3
        max-w-[600px]
        text-clip
        overflow-hidden 
        leading-relaxed 
        text-gray-300 
        mb-8
        text-sm
        tablet:text-base
        text-left;
  }
  h1 {
    @apply bg-purple-600
        tracking-tighter
        leading-relaxed
        rounded-lg
        my-10
        mx-4
        tablet:py-4
        text-center
        text-gray-300 
        font-extrabold 
        text-[min(4vw,100px)];
  }
  h2 {
    @apply tracking-tighter         
        text-center 
        mb-4
        text-purple-50 
        font-bold 
        text-[min(3vw,100px)];
  }
  h3 {
    @apply tracking-tighter
      py-1
      px-4
      mx-4
      font-extrabold
        mb-4
        text-center
        text-purple-50
        text-[min(2vw,100px)];
  }
  hr {
    @apply w-[90%]
        h-px
        my-8
        border-0
        bg-gradient-to-r 
        from-purple-100
        to-purple-50;
  }
  a {
    @apply italic
    font-medium
    text-purple-50;
  }
  pre {
    @apply bg-gray-800
        bg-opacity-50
        rounded-lg
        text-purple-50
        m-2
        p-2
        border-2
        border-purple-50
        text-[min(2vw,60px)];
  }
  li {
    @apply
      px-4
      even:bg-gray-700
      odd:bg-gray-800
      leading-tight
      mx-auto
      font-light
      w-2/3
      text-left
      py-1
      text-gray-100
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .article-container {
    @apply w-[95%]
      phone:w-[80%]
      font-mono
      mx-auto;
  }
  .xxs-label {
    @apply bg-gray-500
        text-black 
        font-bold 
        py-0.5 
        px-1
        rounded
        w-fit;
  }
  .label {
    @apply bg-gray-500
        text-black 
        font-bold 
        py-1 
        px-2
        rounded
        w-fit;
  }
  .field {
    @apply bg-purple-500
        text-white  
        py-1 
        px-2
        rounded
        w-fit;
  }
  .blank-label {
    @apply font-bold 
        py-1 
        px-4
        rounded
        w-fit;
  }
  .label-purp {
    @apply bg-purple-500
        text-gray-400 
        border-2
        border-purple-100
        font-bold 
        py-1 
        px-4
        rounded
        w-fit;
  }
  .button {
    @apply bg-purple-500
        text-gray-400 
        hover:bg-purple-300
        hover:text-gray-700
        font-bold
        py-1 
        px-4
        rounded
        w-fit;
  }
  .col-flex {
    @apply flex flex-col;
  }
  .row-flex {
    @apply flex flex-row;
  }
  .gray-border {
    @apply border-2 border-gray-800;
  }
  .purp-border {
    @apply border-2 border-purple-100;
  }
  .NOR-bg {
    @apply bg-gray-400
        font-bold;
  }
  .FIR-bg {
    @apply bg-orange-500
        font-bold;
  }
  .WAT-bg {
    @apply bg-sky-500
        font-bold;
  }
  .ELE-bg {
    @apply bg-yellow-300
        font-bold;
  }
  .GRA-bg {
    @apply bg-green-500
        font-bold;
  }
  .ICE-bg {
    @apply bg-cyan-200
        font-bold;
  }
  .FIG-bg {
    @apply bg-pink-800
        font-bold 
        text-gray-300;
  }
  .POI-bg {
    @apply bg-purple-500 
        font-bold
        text-gray-300;
  }
  .GRO-bg {
    @apply bg-amber-700 
        font-bold
        text-gray-300;
  }
  .FLY-bg {
    @apply bg-blue-300
        font-bold;
  }
  .PSY-bg {
    @apply bg-rose-400
        font-bold;
  }
  .BUG-bg {
    @apply bg-lime-400
        font-bold;
  }
  .ROC-bg {
    @apply bg-orange-300
        font-bold;
  }
  .GHO-bg {
    @apply bg-indigo-500 
        font-bold
        text-gray-300;
  }
  .DRA-bg {
    @apply bg-blue-600 
        font-bold
        text-gray-300;
  }
  .DAR-bg {
    @apply bg-zinc-700 
        font-bold
        text-gray-300;
  }
  .STE-bg {
    @apply bg-cyan-800 
        font-bold
        text-gray-300;
  }
  .FAI-bg {
    @apply bg-fuchsia-300
        font-bold;
  }

  .normal-bg {
    @apply bg-gray-400;
  }
  .fire-bg {
    @apply bg-orange-500;
  }
  .water-bg {
    @apply bg-sky-500;
  }
  .electric-bg {
    @apply bg-yellow-300;
  }
  .grass-bg {
    @apply bg-green-500;
  }
  .ice-bg {
    @apply bg-cyan-200;
  }
  .fighting-bg {
    @apply bg-pink-800 text-gray-100;
  }
  .poison-bg {
    @apply bg-purple-300;
  }
  .ground-bg {
    @apply bg-amber-700;
  }
  .flying-bg {
    @apply bg-blue-300;
  }
  .psychic-bg {
    @apply bg-rose-400;
  }
  .bug-bg {
    @apply bg-lime-400;
  }
  .rock-bg {
    @apply bg-orange-300;
  }
  .ghost-bg {
    @apply bg-indigo-500;
  }
  .dragon-bg {
    @apply bg-blue-600;
  }
  .dark-bg {
    @apply bg-zinc-700;
  }
  .steel-bg {
    @apply bg-cyan-800;
  }
  .fairy-bg {
    @apply bg-fuchsia-300;
  }
}
